@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$main-text-color: #ffffff;
$link-color: #f84848;
$hover-link-color: #ffcdcd;
$background-color: #272626;
$secondary-color: #aaa;


html{
	font-family:'Roboto', Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	height: 100%;
	margin: 0;
	 
}

body {
  background-color: $background-color;
	display: grid;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";

	grid-template-columns: minmax(100px, 1fr) minmax(600px,4fr);
	padding: 1em 3em;

	color: $main-text-color;
	
}

ul {
	list-style-type: none;
	padding: 0;
}

h1, h2,h3,h4, h5{
	margin: 0;
	
}

a{
	text-decoration: none;
	color: $link-color;
}

a:hover{
	color: $hover-link-color;
}



header{
	grid-area: header;
	//background-color: yellow;

	#title{
		font-size: 1.5em;
	}

	#menu{
		//background-color: rgb(194, 194, 7);

		&-options{
			//background-color: rgb(240, 240, 109);
			display: flex;
			justify-content: flex-start;
			width: max-content;

			li{
				margin: 0 5px;
			}
	
		}	
	}

}


#sidebar{
	grid-area: sidebar;
  //background-color: red;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	margin-right: 40px;

	max-width: 500px;

	p{
		margin: 5px 0;
	}

	ul{
		margin: 5px 0;
	}

	div, form{
		margin: 10px 0;
	}

	#search{
		//background-color: orangered;
	}
	
	#tags{
		//background-color: crimson;
		line-height: normal;

		span{
			color:$secondary-color
		}
	}
	
	#description{
		//background-color: darkred;
	}
	
	#statistics{
		//background-color: lightcoral;
	}
	
	#options{
		//background-color: pink;
	}
}


#content{
	grid-area: content;
  //background-color: blue;

	#map-navigator{
		display: flex;
		justify-content: center;
		padding: 10px;

		button{
			width: 100px;
			margin: 0 30px;
			border-radius: 0;
			color: $main-text-color;
			background-color: transparent;
			border: 2px solid $main-text-color;
		
		}

		button:hover{
			background-color: $link-color;
			cursor: pointer;
		}

		button:active{
			// color: $secondary-color;
			// border-color: $secondary-color;
			background-color: darken($link-color, 30%);
		}

		

		input{
			width: 40px;
			text-align: center;
		}
	}

	#render{
		//background-color: green;
		
		height: 600px;
		border-style: dashed;
		margin-bottom: 50px;
		position: relative;

		&-controls{
			position: absolute;
			right: 10px;
			top: 10px;
			border: 3px solid $background-color;
			padding: 10px 15px;
			color: $background-color;
			background-color: $main-text-color;

			min-width: 200px;

			span{
				color: $secondary-color;
				font-size: 0.9em;
			}

			input:checked{
				background: red;
			}

			ul{
				margin: 0;
			}

			li{
				display: flex;
				justify-content: space-between;
			}
		}

		
	}
	
	#comments{
		//background-color: chartreuse;
		margin-bottom: 50px;
		.comment{
			
			display: flex;
			flex-flow: row;
			justify-content: flex-start;
			

			margin-bottom: 30px;

			&-author{
				width: 200px;

				h4{
					font-size: 1.3em;
				}
				
			}

			&-content{
				width: 100%;
				max-width: 600px;
				
			}
		}
	}
  
}



footer{
	grid-area: footer;
	display: flex;
	justify-content: center;
  //background-color: cyan;
}
